<!DOCTYPE html>
<html>
<head>
 <title>Contact Us</title>
 <link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
<body>
 <header>
  <%- include ('navbar') %>

 </header>
 <main>
    <h1>Contact Us</h1>
 </main>
</body>
</html>